<div class="title__container">
    <h1 class="page__title">Hi, I'm Frankenstein</h1>
    <p class="page__subtitle">Web Developer and DevOps Engineer</p>
</div>

<div class="img__container">
    <img src="/img/img.png">
</div>

<div class="posts__container">
    <h3 class="posts__heading">Latest Posts</h3>
    <div class="post__container">
        <h4 class="post__title">User Management System – Nodejs, Express, MongoDB & EJS</h4>
        <p class="post__date">01.05.2023</p>
    </div>
</div>

